{% extends themes %}


{% block body %}

    <!-- breadcrumb -->
    <ol class="breadcrumb">
        <li><a href="{{path('front_index')}}">Home</a></li>
        <li class="active">Users</li>
    </ol>
    <!-- @breadcrumb -->

    <!-- headings-->
    <div class="section-header">
        <h3 class="text-standard"><i class="fa fa-fw fa-arrow-circle-right text-gray-light"></i> Add User <small> You can change all your details </small></h3>
    </div>
    <!-- @headings-->

    <br/>

    <div style="max-width: 400px">
        <form action="{{ path('user_add') }}" method="post" role="form">

            {{ form_widget(form._token) }}

            <div class="form-group">
                <label for="exampleInputEmail1">Username:
                    <span class="redMark">*</span>&nbsp;
                    <a data-toggle="tooltip" data-placement="top" title="Enter a unique username for login in directory." ><span class="glyphicon glyphicon-question-sign"></span></a>
                </label>
                {{ form_widget(form.username) }}
            </div>


            <div class="form-group">
                <label for="exampleInputEmail1">Password:
                    <span class="redMark">*</span>&nbsp;
                    <a data-toggle="tooltip" data-placement="top" title="Enter a password to login directory" ><span class="glyphicon glyphicon-question-sign"></span></a>
                </label>
                {{ form_widget(form.password.first) }}
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Confirm Password:
                    <span class="redMark">*</span>&nbsp;
                    <a data-toggle="tooltip" data-placement="top" title="Enter password again." ><span class="glyphicon glyphicon-question-sign"></span></a>
                </label>
                {{ form_widget(form.password.second) }}
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Email:
                    <span class="redMark">*</span>&nbsp;
                    <a data-toggle="tooltip" data-placement="top" title="Enter a user email address, directory will use this email for contact with user" ><span class="glyphicon glyphicon-question-sign"></span></a>
                </label>
                {{ form_widget(form.email) }}
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Choose User Role:
                    <span class="redMark">*</span>&nbsp;
                    <a data-toggle="tooltip" data-placement="top" title="Choose user role for grant permissions to user" ><span class="glyphicon glyphicon-question-sign"></span></a>
                </label>
                {% for child in form.roles %}
                    <div>
                    {{ form_widget(child) }}
                    {{ form_label(child) }}
                    </div>
                {% endfor %}
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">First Name:
                    <span class="redMark">*</span>&nbsp;
                    <a data-toggle="tooltip" data-placement="top" title="Enter users first name" ><span class="glyphicon glyphicon-question-sign"></span></a>
                </label>
                {{ form_widget(form.firstname) }}
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Last Name:
                    <span class="redMark">*</span>&nbsp;
                    <a data-toggle="tooltip" data-placement="top" title="Enter users last name" ><span class="glyphicon glyphicon-question-sign"></span></a>
                </label>
                {{ form_widget(form.lastname) }}
            </div>

            <div class="form-group">
                {{ form_widget(form.isactive) }} <label> Is Active? </label>
            </div>

            <div class="form-group">
                {{ form_widget(form.sendmail) }} <label> Send user information on his email? </label>
            </div>


            <div>
                <input type="submit" value="Save" id="user_btn" class="btn btn-info" />
            </div>

        </form>
    </div>

{% endblock %}
