{# extends '::base.html.twig' #}
{% extends themes %}

{% block body %}

    <!-- breadcrumb -->
    <ol class="breadcrumb">
        <li><a href="{{path('front_index')}}">Home</a></li>
        <li class="active">Change Password</li>
    </ol>
    <!-- @breadcrumb -->

    <!-- headings-->
    <div class="section-header">
        <h3 class="text-standard"><i class="fa fa-fw fa-arrow-circle-right text-gray-light"></i> Change Password <small> You can easily change your password</small></h3>
    </div>
    <!-- @headings-->


    <div style="max-width: 400px">
        <form action="{{ path('account_changepassword') }}" method="post" role="form">

                {% if error  %}
                    <div class="alert alert-danger" role="alert">
                        <p class="message">{{error}}</p>
                    </div>
                {% endif %}

                {{ form_widget(form._token) }}

                <div class="form-group">
                    <label for="exampleInputEmail1">Current Password:

                        <span class="redMark">*</span>&nbsp;
                        <a data-toggle="tooltip" data-placement="top" title="Please enter your current password" ><span class="glyphicon glyphicon-question-sign"></span></a>
                    </label>
                    {{ form_widget(form.curr_password) }}
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">New Password:

                        <span class="redMark">*</span>&nbsp;
                        <a data-toggle="tooltip" data-placement="top" title="Enter new password." ><span class="glyphicon glyphicon-question-sign"></span></a>
                    </label>
                    {{ form_widget(form.password.first) }}
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Confirm Password:

                        <span class="redMark">*</span>&nbsp;
                        <a data-toggle="tooltip" data-placement="top" title="Re-enter your new password." ><span class="glyphicon glyphicon-question-sign"></span></a>
                    </label>
                    {{ form_widget(form.password.second) }}
                </div>

                <div>
                    <input type="submit" value="Change Password" id="changepassword_btn" class="btn btn-info" />
                </div>

        </form>
    </div>
{% endblock %}
